body {
    position: relative;
    background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #abbaab,#ffffff,#abbaab(0, 0%, 100%));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #abbaab, #ffffff,#abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: hidden; /* Optional: prevent scrolling if needed */
}

.wrapper {
    position: absolute;
    background-color: rgb(128, 247, 182);
    width: 100em;
    height: 52em;
    border: 5px solid black;
    margin: auto;
    margin-top: 2em;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for perfect horizontal centering */
}

.sct1 {
    background-color: rgb(216, 113, 113);
    position: absolute;
    width: 100em;
    height: 52em;
    border: 5px solid black;
    margin: auto;
    margin-top: 2em;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for perfect horizontal centering */
    display: none;
}
.sct2 {
    background-color: blue;
    position: absolute;
    width: 100em;
    height: 52em;
    border: 5px solid black;
    margin: auto;
    margin-top: 2em;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for perfect horizontal centering */
    display: none;
}
.task-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 16em;
}
.task-table-child {
    width: 10em;
}
.above-table {
    margin: 0px;
    border-spacing: 18em 0;
}
